<div class='about'>
  <h4> What is Breakwater Chicago? </h4> 

  Breakwater Chicago is a luxurious destination vessel being designed by Breakwater Chicago LLC. It will 

  be the first floating entertainment venue of its kind anywhere in the world, providing guests with the 

  amenities of a five-star hotel while simultaneously offering a sense of your very own mega-yacht.

  <hr /><h4> What is the purpose of your business? </h4>

  Breakwater Chicago’s mission is to create an entertainment venue utterly unique to Chicago: a national 

  and international attraction bringing visitors to experience a world-class city in an unprecedented way, 

  by enjoying an extraordinary location that is both luxurious and truly at harmony with its environment.

  <hr /><h4> Where will this be located? </h4>

  The venue will operate as a floating vessel on Lake Michigan just off of Chicago’s beautiful shoreline, 

  north and east of Navy Pier in a deserted anchorage zone that Breakwater Chicago will transform into 

  the premier boating and tourist destination for Chicago during summer months.

  <hr /><h4> How do people get out to the vessel? </h4>

  There are several companies that currently operate water taxi services along the Chicago River and Lake 

  Michigan. After speaking with ownership of two such companies, we have decided to outsource this 

  service on a contractual basis to existing entities. Water taxis will be provided free of charge to guests of 

  Breakwater Chicago. Private boaters can also join us by using the attached floating-pier for a docking fee 

  or our boat-valet service for temporary local mooring in Monroe Harbor.

  <hr /><h4> How much will it cost to build? </h4>

  Based on estimates provided by architectural and naval design firms, general contractors, shipyards, and 

  food and beverage operators we are budgeting for a $23mm total project cost. This figure includes all 

  design, permitting, construction, marketing, and legal expenses, as well as allowances for contingencies 

  and pre-launch working capital. While construction costs are higher than land-based hospitality 

  projects, our company will then own the platform and not be required to pay rental rates in the 

  competitive Chicago real estate market. This will allow Breakwater to generate stronger than average 

  operating cashflows by avoiding one of the highest expenses on a renting venue’s P&L.

  <hr /><h4> How much space will you have to operate? </h4>

  As it currently stands in our design, the vessel for Breakwater will be 100’ wide and 300’ long, creating 

  of area on the main deck. There is also 10,000 ft2

  30,000 ft2

  main lounge space, and another 10,000 square feet on top of that for a sun deck. 50,000 ft2

  space, less 10,000 ft2

  We have also designed 12’ of height between the deck and the hull, meaning that another 30,000 ft2

  be available below-deck for kitchens, mechanical spaces, bathrooms, changing facilities, and storage.

  of pool, results in approximately 40,000 ft2

  on a second level, which will house the 

  of usable hard surfaces above deck. 

  of total 

  will
</div>
