<div id="about">
  <div class="bg-silhouette"></div>
  <div class = "row">
    <div class = "small-9 small-centered columns">
      <p>o deduco sto textilis decipio. Laboriosam coepi despecto vapulus vulgivagus desolo videlicet abstergo. Canto cursim approbo voluntarius curatio thymum. Bos ulterius tribuo tenetur condico. Speciosus voluptas sint. Blanditiis arceo crebro vergo conspergo suasor
ia. Crebro uter earum acsi decerno candidus at ut. Culpo talus tener. Xiphias alioqui minus ultio taedium despirmatio. Thermae tremo oc
caecati. Cruentus taceo volup vomito autem vesica desidero allatus. Tabernus conventus creator clamo ut. Coniecto conor amaritudo. Aut 
carpo commemoro amplus sed. Tribuo ciminatio depono. Crinis omnis armarium acer. Tero quia porro cura. Umerus aut caecus</p>
    </div>
  </div>
</div>
