<div class='row'>
  <ul class="button-group content-nav">
    <li><a href="#" class="button">Button 1</a></li>
    <li><a href="#" class="button">Button 2</a></li>
    <li><a href="#" class="button">Button 3</a></li>
    <li><a href="#" class="button">Button 3</a></li>
    <li><a href="#" class="button">Button 3</a></li>
  </ul>
</div>
<ul class="carousel" data-orbit data-options="animation_speed:500; animation:fade; pause_on_hover:false; slide_number:false">
  <li>
    <%= image_tag 'onboard.png', alt: 'slide 3', class:'carousel-image' %>
  </li>
  <li>
    <%= image_tag 'profile_night.png', alt: 'slide 2', class:'carousel-image' %>
    <div class="orbit-caption">
      Caption.
    </div>
  </li>
  <li>
    <%= image_tag 'bay.png', alt: 'slide 1', class: 'carousel-image' %>
  </li>
</ul>

