<ul class="carousel" data-orbit data-options="animation_speed:500; animation:fade; pause_on_hover:false; slide_number:false">
  <li>
    <%= image_tag 'onboard.png', alt: 'slide 3', class:'carousel-image' %>
  </li>
  <li>
    <%= image_tag 'profile_night.png', alt: 'slide 2', class:'carousel-image' %>
    <div class="orbit-caption">
      Caption.
    </div>
  </li>
  <li>
    <%= image_tag 'bay.png', alt: 'slide 1', class: 'carousel-image' %>
  </li>
</ul>

<div class='row'>
  <div class='large-6 columns'>
    <p class='quote'>“The Lakefront by right belongs to the people.  Not a foot of its shores should be appropriated to the exclusion of the people.” - Daniel Burnham</p>
  </div>
  <div class='large-6 columns'>
    <%= image_tag 'on_deck.png' %>
  </div>

</div>
