<ul class="carousel" data-orbit data-options="animation_speed:500; animation:fade; pause_on_hover:false; slide_number:false">
  <li>
    <%= image_tag 'onboard.png', alt: 'slide 3', class:'carousel-image' %>
  </li>
  <li>
    <%= image_tag 'profile_night.png', alt: 'slide 2', class:'carousel-image' %>
    <div class="orbit-caption">
      Caption.
    </div>
  </li>
  <li>
    <%= image_tag 'bay.png', alt: 'slide 1', class: 'carousel-image' %>
  </li>
</ul>

