<div class="about">
  <div class = "row">
    <div class="small-2 columns">
      <%=image_tag "beau_headshot.png" %>
    </div>
    <div class = "small-10 columns">
      <p>o deduco sto textilis decipio. Laboriosam coepi despecto vapulus vulgivagus desolo videlicet abstergo. Canto cursim approbo voluntarius curatio thymum. Bos ulterius tribuo tenetur condico. Speciosus voluptas sint. Blanditiis arceo crebro vergo conspergo suasor
ia. Crebro uter earum acsi decerno candidus at ut. Culpo talus tener. Xiphias alioqui minus ultio taedium despirmatio. Thermae tremo oc
caecati. Cruentus taceo volup vomito autem vesica desidero allatus. </p>
    </div>
  </div>
  <hr  />
  <div class = "row">
    <div class="small-2 columns">
      <%=image_tag "ashvin_headshot.png" %>
    </div>
    <div class = "small-10 columns">
      <p>o deduco sto textilis decipio. Laboriosam coepi despecto vapulus vulgivagus desolo videlicet abstergo. Canto cursim approbo voluntarius curatio thymum. Bos ulterius tribuo tenetur condico. Speciosus voluptas sint. Blanditiis arceo crebro vergo conspergo suasor
ia. Crebro uter earum acsi decerno candidus at ut. Culpo talus tener. Xiphias alioqui minus ultio taedium despirmatio. Thermae tremo oc
caecati. Cruentus taceo volup vomito autem vesica desidero allatus. </p>
    </div>
  </div>
  <hr />
  <div class = "row">
    <div class="small-2 columns">
      <%=image_tag "elizabeth_headshot.png" %>
    </div>
    <div class = "small-10 columns">
      <p>o deduco sto textilis decipio. Laboriosam coepi despecto vapulus vulgivagus desolo videlicet abstergo. Canto cursim approbo voluntarius curatio thymum. Bos ulterius tribuo tenetur condico. Speciosus voluptas sint. Blanditiis arceo crebro vergo conspergo suasor
ia. Crebro uter earum acsi decerno candidus at ut. Culpo talus tener. Xiphias alioqui minus ultio taedium despirmatio. Thermae tremo oc
caecati. Cruentus taceo volup vomito autem vesica desidero allatus. </p>
    </div>
  </div>

</div>
