<div class="news">
  <div class = "row event">
    <div class="small-2 columns">
      <%=image_tag "event3.jpeg" %>
    </div>
    <div class = "small-10 columns">
      <h4> Skotch Tasting @ The Mast Head </h4><h6><em> Oct. 20th, 2016 </em> </h6>
      <p>o deduco sto textilis decipio. Laboriosam coepi despecto vapulus vulgivagus desolo videlicet abstergo. Canto cursim approbo voluntarius curatio thymum. Bos ulterius tribuo tenetur condico. Speciosus voluptas sint. Blanditiis arceo crebro vergo conspergo suasor
ia. Crebro uter earum acsi decerno candidus at ut. Culpo talus tener. Xiphias alioqui minus ultio taedium despirmatio. Thermae tremo oc
caecati. </p>
    </div>
  </div>
  <div class = "row event">
    <div class="small-2 columns">
      <%=image_tag "lake_skyline.jpg" %>
    </div>
    <div class = "small-10 columns">
      <h4> Free Water Taxis </h4><h6><em> Nov. 29th, 2016 </em> </h6>
      <p>o deduco sto textilis decipio. Laboriosam coepi despecto vapulus vulgivagus desolo videlicet abstergo. Canto cursim approbo voluntarius curatio thymum. Bos ulterius tribuo tenetur condico. Speciosus voluptas sint. Blanditiis arceo crebro vergo conspergo suasor
ia. Crebro uter earum acsi decerno candidus at ut. Culpo talus tener. Xiphias alioqui minus ultio taedium despirmatio. Thermae tremo oc
caecati. Cruentus taceo volup vomito autem vesica desidero allatus. </p>
    </div>
  </div>
  <div class = "row event">
    <div class="small-2 columns">
      <%=image_tag "event1.jpeg" %>
    </div>
    <div class = "small-10 columns">
      <h4> New Years Ball </h4><h6><em> Jan. 1st, 2016 </em> </h6>
      <p>o deduco sto textilis decipio. Laboriosam coepi despecto vapulus vulgivagus desolo videlicet abstergo. Canto cursim approbo voluntarius curatio thymum. Bos ulterius tribuo tenetur condico. Speciosus voluptas sint. Blanditiis arceo crebro vergo conspergo suasor
ia. Crebro uter earum acsi decerno candidus at ut. Culpo talus tener. Xiphias alioqui minus ultio taedium despirmatio. Thermae tremo oc
caecati. Cruentus taceo volup vomito autem vesica desidero allatus. </p>
    </div>
  </div>
  <div class = "row event">
    <div class="small-2 columns">
      <%=image_tag "event2.jpeg" %>
    </div>
    <div class = "small-10 columns">
      <h4> $10 off Breakfast @ Treaty of Paris </h4><h6><em> Feb. 20th, 2017 </em> </h6>
      <p>o deduco sto textilis decipio. Laboriosam coepi despecto vapulus vulgivagus desolo videlicet abstergo. Canto cursim approbo voluntarius curatio thymum. Bos ulterius tribuo tenetur condico. Speciosus voluptas sint. Blanditiis arceo crebro vergo conspergo suasor
ia. Crebro uter earum acsi decerno candidus at ut. Culpo talus tener. Xiphias alioqui minus ultio taedium despirmatio. Thermae tremo oc
caecati. Cruentus taceo volup vomito autem vesica desidero allatus. </p>
    </div>
  </div>

</div>
