<div class="timeline">
  <h3 class="timeline-title">Responsive Horizontal Time Line</h3>
  <div class="slide-bg">
  </div>
  <div class="panel-container">
    <div class="slide-panel">
      <div class="time-label">2008</div>
      <h2 class="panel-title">Learning HTML</h2>
      <div class="panel-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis eveniet quo eligendi voluptates sequi facere, adipisci, nam illum unde necessitatibus tenetur sed alias incidunt, non optio praesentium quod explicabo iste.</div>
    </div>
    <div class="slide-panel">
      <div class="time-label">2009</div>
      <h2 class="panel-title">Touching Front-end</h2>
      <div class="panel-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque voluptates perferendis cumque magnam, alias omnis iusto autem ea modi aspernatur nesciunt, libero maiores nobis, saepe suscipit earum rem excepturi atque.</div>
    </div>
    <div class="slide-panel">
      <div class="time-label">2010</div>
      <h2 class="panel-title">First Website</h2>
      <div class="panel-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam corporis odit eum facere voluptas. Aut distinctio nam, fugiat eius facere officiis adipisci cupiditate inventore rerum veniam cumque et dolores ex.</div>
    </div>
    <div class="slide-panel">
      <div class="time-label">2011</div>
      <h2 class="panel-title">Internship</h2>
      <div class="panel-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et esse ex sapiente eos quasi sint, inventore veritatis, labore numquam sed praesentium quaerat laudantium explicabo iusto ut, quo consequuntur dolores? Deleniti.</div>
    </div>
    <div class="slide-panel">
      <div class="time-label">CURRENT</div>
      <h2 class="panel-title">Running a Company</h2>
      <div class="panel-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, eligendi sunt aperiam ipsa nemo sed similique pariatur quaerat expedita velit. Nemo voluptate ducimus sunt dolores aliquid. Cum, tempore quia quas.</div>
    </div>
  </div>
  <div class="slide-nav"></div>
</div>
