<div class="timeline">
  <h3 class="timeline-title">History of Breakwater</h3>
  <div class="slide-bg">
  </div>
  <div class="panel-container">
    <div class="slide-panel">
      <div class="time-label">2008</div>
      <h2 class="panel-title">Idea is Born</h2>
      <div class="panel-content">Iure earum voluptate dignissimos provident quia. Quaerat fuga aut ut velit omnis eaque iure. Illum quo odio aut voluptatem quis. Quo quia labore suscipit. Occaecati neque nostrum non minima labore voluptatem.</div>
    </div>
    <div class="slide-panel">
      <div class="time-label">2009</div>
      <h2 class="panel-title">Kickstarter Funded</h2>
      <div class="panel-content">Blanditiis recusandae praesentium facere quo in aut voluptatem. Sed ut id debitis consequuntur. Perspiciatis est tempore quae nostrum sed. Minus odio velit illo ab quas dolore qui. Eligendi ducimus at sit sed sequi rerum qui.</div>
    </div>
    <div class="slide-panel">
      <div class="time-label">2010</div>
      <h2 class="panel-title">Approved by City</h2>
      <div class="panel-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam corporis odit eum facere voluptas. Aut distinctio nam, fugiat eius facere officiis adipisci cupiditate inventore rerum veniam cumque et dolores ex.</div>
    </div>
    <div class="slide-panel">
      <div class="time-label">2011</div>
      <h2 class="panel-title">Construction started</h2>
      <div class="panel-content">Vel quia est. Quas omnis et. Facere consequatur excepturi ipsa quasi placeat. Qui in rem non et eos sed rerum. Et optio soluta quis sit voluptate. Enim officiis esse culpa in quisquam nemo nihil.</div>
    </div>
    <div class="slide-panel">
      <div class="time-label">CURRENT</div>
      <h2 class="panel-title">Built</h2>
      <div class="panel-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, eligendi sunt aperiam ipsa nemo sed similique pariatur quaerat expedita velit. Nemo voluptate ducimus sunt dolores aliquid. Cum, tempore quia quas.</div>
    </div>
  </div>
  <div class="slide-nav"></div>
</div>
