body.background{
  background: image-url('background.jpg') repeat-x fixed center top #203341;
}
.bg-silhouette {
  background: image-url('skyline_silhouette.jpg') repeat-x fixed center bottom;
  background-position-y:130px;
  opacity: .02;
  height: 215px;
  margin-bottom:-215px;
}
