$button-height: 40px;
.carousel-image{
  width:100%;
  height: 500px;
}

.content-nav{
  li{
    width: 20%;
    height:$button-height;
    .button{
      width: 100%;
      background-color: #ebe4da;
      font-size:13px;
      color:#5c423b;
      font-family:VistaSans,"Lucida Sans","Lucida Grande",Verdana,Arial,sans-serif;
      height:$button-height;
    }
  }

}

#about {
  position: relative;
  width: 90%;
  margin-left: 5%;
  color: #000;
  height:300px;
  font-size: 400%;
  padding: 20px;
  .bg-silhouette {
    position: absolute;
    top: 0;
    left: 0;
    background-image: image-url('skyline_silhouette.jpg');
    background-repeat-y: no-repeat;
    background-size:contain;
    opacity: .03;
    width: 100%;
    height: 100%;
  }
}
