.logo-section{
  height: 50px;
  margin-top: 12px;
  background-image: image-url('background1.png');
  background-repeat: no-repeat;
  background-size:100%;
}

nav ul.right{
  width:287px;
  li{
    list-style:none;
    display:inline;
    margin:0;
    a{
      font-size:11px;
      font-family: Arial, sans-serif;
      color: white;
    }
  }
  color: white;
}

.f-dropdown.narrow{
  max-width: 100px;
  height: 120px;
  overflow:scroll;
  li {
    a{
      color:black;
      &:hover{
        background:aliceblue;
      }
    }
  }
}

nav.row .no-padding-right{
  padding-right: 0px;
}

.search {
      font-size: 9pt;
    &:after {
      margin-left:-25px;
      content: "\f002";
      font-family: FontAwesome;
      color: #A9C1C8;
    }

    input#search{
      border: 1px solid #cccccc;
      display: inline-block;
      height: 1.3125rem;
      width: 95px;
      font-size: 9pt;
      padding-left:10px;
    }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
