$button-height: 40px;
.top-bar-section ul.content-nav{
  li{
    width: 20%;
    height:$button-height;
    a:not(.button){
      background-color: #ebe4da;
      font-size:13px;
      font-weight:bold;
      font-family:VistaSans,"Lucida Sans","Lucida Grande",Verdana,Arial,sans-serif;
      color:#5c423b;
      text-align:center;
      border:1px solid rgba(255, 255, 255, 0.5);
      &:hover{
        background:#DCD3CE;
      }
    }
  }
}
