<footer class='row'>
<hr />
  <div class='small-4 columns'>
    Copyright &copy; 2014. All Rights Reserved
  </div>
  <div class='small-4 columns'>
    Site by <a href="https://www.linkedin.com/profile/view?id=278619359">Daniel Schepers</a>
  </div>
</footer>
