<%= render "layouts/section_nav", active_section:"Meet the Team" %>
<div class = "meet row">
  <div class="small-4 columns first"></div>
  <div class="small-4 columns second"></div>
  <div class="small-4 columns third"></div>
</div>

