<nav class="row">
<a href="/" class="logo-section small-3 columns"></a>
<div class="large-9 columns">
  <ul class="right">
    <li><a href="#" class="">Login</a></li> &nbsp; | &nbsp;
    <li><a href="#" class="">Register</a></li> &nbsp; | &nbsp;
    <li>
    <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Language <i class='fa fa-caret-down'></i></a>
      <ul id="drop1" class="f-dropdown narrow" data-dropdown-content aria-hidden="true" tabindex="-1">
        <li><a href="#">English</a></li>
        <li><a href="#">Spanish</a></li>
        <li><a href="#">Swahili</a></li>
      </ul>
    </li>
    <li class='search'><%= search_field_tag 'search', nil, placeholder: 'Search' %></li>
  </ul>
</div>
</nav> 
