<nav class="row">
  <div class="logo-section small-3 columns">
  </div>
  <div class="large-9 columns">
    <ul class="button-group right">
      <li><a href="#about" class="button tiny">About</a></li>
      <li><a href="#team" class="button tiny">Meet the Team</a></li>
      <li><a href="#contact" class="button tiny">Contact</a></li>
      <li><a href="#timeline" class="button tiny">Timeline</a></li>
      <li><a href="#events" class="button tiny">Events</a></li>
    </ul>
  </div>
</nav>
