<ul class="button-group content-nav">
  <li><%= link_to "Timeline", timeline_path, :class => 'button' %> </li>
  <li><a href="#" class="button">Button 2</a></li>
  <li><a href="#" class="button">Button 3</a></li>
  <li><a href="#" class="button">Button 3</a></li>
  <li><a href="#" class="button">Button 3</a></li>
</ul>
