<ul class="button-group content-nav">
  <li><%= link_to "Home", root_path, :class => 'button' %> </li>
  <li><%= link_to "Timeline", timeline_path, :class => 'button' %> </li>
  <li><%= link_to "Meet the Team", meet_path, :class => 'button' %> </li>
  <li><a href="#" class="button">Button 4</a></li>
  <li><a href="#" class="button">Button 5</a></li>
</ul>

